:root {
    --primary-color: #217537;
    --secondary-color: #ffffff;
    --tertiary-color: #4b4d4b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: var(--tertiary-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: var(--secondary-color);
    height: 140px;
    background-image: url(../Images/96714fc8226deaf0f0cc9aebee39cda0.jpg);
    background-position: center;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

header nav ul {
display: inline-flex;
justify-content: space-around;
width: 100%;
}

header nav ul li {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px 60px 5px;
    font-size: 20px;
}

header nav ul li a {
   font-size: 2vw;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
}